---
---

body, html {
  margin: 0;
  color: #777;
  position: relative;
  height: 100%;
  background-image: url("../assets/img/jeshoots-com-219386-unsplash.jpg");
  background-position: center;
  background-size: cover;
  // background-repeat: no-repeat;
  min-width:330px;
  width: auto !important;
  width:330px;
}

/* Center text horizontally */
.center-content {
  text-align: center;
}

/* Textfield with background  */
.textfield {
  background-color: rgba(163, 163, 163, 0.9);
  padding-top: 1%;
  padding-bottom: 1%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#profile-rd-sm {
  margin: 20px 0 0 0;
}

#icon-line {
  margin: 20px 0;
}

/* https://css-tricks.com/examples/hrs/  */
/* hr with customized style  */
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0));
  }

.cn-text {
  font-family: Microsoft YaHei;
}

.btn-download {
  width: 130px;
  padding: 10px 16px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Communication tools icon */
.icon {
  width: 30px;
  height: 30px;
}

/* Wechat icon */
#badge-wechat {
  cursor: pointer;
}

/* Wechat QR code */
#qr-wechat {
  margin: 20px 0 0 0;
  width: 130px;
  height: 130px;
}

/* QR code animation: */
.slideDown.ng-hide {
  height:0;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  height:150px;
  transition:height 0.35s ease;
  overflow:hidden;
  position:relative;
}

.slideDown.ng-hide-remove,
.slideDown.ng-hide-add {
  /* remember, the .hg-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}

.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;  
  -webkit-animation-timing-function: ease-in;  
}

.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  
}

/* Sticky footer styles
-------------------------------------------------- */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
}
.site-footer {
  opacity: 0.80;
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  /* Vertically center the text below */
  line-height: 50px;
  background-color: #f5f5f5;
}